.post {
	width: 28.125rem;
	margin: 0px 25px 40px 25px;
}

.postImg {
	width: 100%;
	height: 17.5rem;
	object-fit: cover;
	border-radius: 5px;
}

.postInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.postCat {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 0.688rem;
	color: gold;
	line-height: 1.25rem;
	margin: 0.938rem 0.625rem 0px 0.625rem;
	cursor: pointer;
}

.postTitle {
	font-family: 'Bebas Neue', cursive;
	font-size: 1.5rem;
	margin-top: 0.938rem;
	cursor: pointer;
	color: var(--text-primary);
}

.postDate {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 0.813rem;
	font-style: italic;
	color: grey;
	margin-top: 0.938rem;
}

.postDesc {
	margin-top: 0.938rem;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 0.875rem;
	color: white;
	line-height: 1.25rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

@media screen and (max-width: 1400px) {
	.post {
		width: 25rem;
	}

	.postTitle {
		/* letter-spacing: 1px; */
		font-size: 1.438rem;
	}
	.postDesc {
		font-size: 0.938rem;

	}
}

@media screen and (max-width: 1280px) {
	.post {
		width: 21.875rem;
	}

	.postDesc {
		font-size: 0.813rem;
	}
	
	.postTitle {
		font-size: 1.375rem;
	}
}