* {
	margin: 0;
}

:root {
	--text-primary: #F0EBF4;
	--background-primary: #A1C3D1;
	--background-violet: #B39BC8; 
	--background-pink: #F172A1;
	--background-hotpink: #E64398;

}

.top {
	width: 100%;
	height: 50px;
	position: sticky;
	display: flex;
	background-color: var(--background-hotpink);
	align-items: center;
	top: 0;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

.topRight, .topLeft {
	flex: 3;
	align-items: center;
	justify-content: center;
}

.topCenter {
	flex: 6;
}

.topList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	cursor: pointer;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.topIcon {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 2px;
	font-size: 20px;
	cursor: pointer;
	color: var(--text-primary);
}

.topImg {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

.topRight {
	display: flex;
	justify-content: center;
}

.topLeft {
	display: flex;
}

.topListItem {
	margin-right: 20px;
	font-size: 18px;
	color: var(--text-primary);
	font-weight: bolder;
}

.topSearchIcon {
	font-size: 18px;
	color: var(--text-primary);
	cursor: pointer;
	margin-left: 15px;
}