.sidebar {
	flex: 3;
	margin: 1.25rem;
	padding-bottom: 1.875rem;
	background-color: var(--background-primary);
	border-radius: 0.625rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebarItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
}

.sidebarTitle {
	margin: 0.625rem;
	padding: 0.313rem;
	width: 80%;
	align-items: center;
	border-top: 0.063rem solid #a7a4a4;
	border-bottom: 0.063rem solid #a7a4a4;
	font-family: 'Play', sans-serif;
	font-weight: 600;
	color: var(--text-primary);
	line-height: 1.25rem;
	text-align: center;
}

.sidebar > img {
	margin-top: 0.938rem;
}

.sidebarItem > p {
	padding: 1.875rem;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 0.938rem;
}

.sidebarList {
	list-style: none;
	margin-bottom: 1.875rem;
	display: flex;
	flex-wrap: wrap;
	padding: revert;
}

.sidebarListItem {
	display: inline-block;
	width: 50%;
	cursor: pointer;
	margin-top: 0.313rem;
	color: gold;
}

.sidebarSocial {
	margin-top: 0.938rem;
	width: 15.625rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebarIcon {
	font-size: 1rem;
	margin-left: 0.625rem;
	cursor: pointer;
	color: white;
}

@media screen and (max-width: 1400px) {
	.sidebarItem > p {
		font-size: 0.813rem;
		line-height: 1.25rem;
	}

	.sidebarListItem {
		font-size: 0.875rem;
	}

	.sidebarTitle {
		font-size: 0.938rem;
	}
}