.header {
	padding-top: 3.75rem;
 }
  
 .headerTitles {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Satisfy', cursive;
	color: var(--text-primary);
 }
  
  .headerTitlesSm {
	position: absolute;
	top: 18%;
	font-size: 1.25rem;
	font-family: 'Play', sans-serif;
 }
  
  .headerTitlesLg {
	position: absolute;
	top: 20%;
	font-size: 6.25rem;
 }
  
  .headerImg {
	width: 98.7%;
	height: 450px;
	padding-top: 5rem;
	object-fit: cover;
	padding-left: 0.625rem;
	/* padding-right: 10px; */
 }