.post {
	width: 28.125rem;
	margin: 0px 25px 40px 25px;
}

.postImg {
	width: 100%;
	height: 280px;
	object-fit: cover;
	border-radius: 5px;
}

.postInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.postCat {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 11px;
	color: gold;
	line-height: 20px;
	margin: 15px 10px 0px 10px;
	cursor: pointer;
}

.postTitle {
	font-family: 'Bebas Neue', cursive;
	font-size: 24px;
	margin-top: 15px;
	cursor: pointer;
	color: var(--text-primary);
}

.postDate {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 13px;
	font-style: italic;
	color: grey;
	margin-top: 15px;
}

.postDesc {
	margin-top: 15px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	color: white;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

@media screen and (max-width: 1400px) {
	.post {
		width: 400px;
	}

	.postTitle {
		/* letter-spacing: 1px; */
		font-size: 23px;
	}
	.postDesc {
		font-size: 15px;

	}
}

@media screen and (max-width: 1270px) {
	.post {
		width: 350px;
	}

	.postDesc {
		font-size: 13px;
	}
	
	.postTitle {
		font-size: 22px;
	}
}